@font-face {
    font-family: Helvetica;
    src: url('fonts/Helvetica-400.ttf') format('woff');
}

@font-face {
    font-family: GothicBold;
    src: url('fonts/Gotham-Bold.woff') format('woff');
}

@font-face {
    font-family: GothicBook;
    src: url('fonts/Gotham-Book.woff') format('woff');
}

@font-face {
    font-family: GothicMed;
    src: url('fonts/Gotham-Medium.woff') format('woff');
}

:root {
    --green: teal;
    --grey: #001d3d;
    --white: #ffffff;
    --black: #000000;
    --font1: GothicBold;
    --font2: Helvetica;
    --font3: GothicBook;
    --font4: GothicMed;
}

a:hover {
    text-decoration: none !important;
}

*::-moz-selection {
    color: var(--white) !important;
    background: var(--green) !important;
}

*::selection {
    color: var(--white) !important;
    background: var(--green) !important;
}

* {
    outline-offset: 0px !important;
    outline: none !important;
    -moz-outline-offset: 0px !important;
    -moz-outline: none !important;
}

*:active {
    outline-offset: 0px !important;
    outline: none !important;
    -moz-outline-offset: 0px !important;
    -moz-outline: none !important;
}

*:focus {
    outline-offset: 0px !important;
    outline: none !important;
    -moz-outline-offset: 0px !important;
    -moz-outline: none !important;
}

.rvp-h3 {
    color: var(--green);
    font-family: var(--font1);
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 16px;
}

@media(max-width: 480px) {

    .rvp-h3 {
        font-size: 1.7em;
    }
}