<!DOCTYPE HTML>

<head>
    <title>Signal Alert For Emergency</title>
    <link rel="icon" type="image/png" sizes="32x32" href="images/drone.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="generator" content="Webflow">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/global.css">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top rvp-nav-bg">
        <a class="navbar-brand rvp-brand" href="/">SAFE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" onclick="responsiveNavbar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav rvp-nav-items ml-auto">
                <a class="nav-item nav-link" href="/#about">About</a>
                <a class="nav-item nav-link" href="/#team">Team</a>
                <a class="nav-item nav-link" href="/#virtues">Virtues</a>
                <a class="nav-item nav-link" href="/login">Login</a>
                <a class="nav-item nav-link" href="/adminlog">Admin</a>
            </div>
        </div>
        <div id="responsive-nav" class="container-fluid rvp-responsive-nav">
            <div id="responsive-nav-content" class="rvp-responsive-nav-body">
                <div class="text-center">
                    <ul class="rvp-responsive-navlist text-center">
                        <a href="index.html#about" onclick="removeResponsiveNavbar()">
                            <li class="text-center">About</li>
                        </a>
                        <a href="index.html#team" onclick="removeResponsiveNavbar()">
                            <li class="text-center">Team</li>
                        </a>
                        <a href="index.html#virtues" onclick="removeResponsiveNavbar()">
                            <li class="text-center">Virtues</li>
                        </a>
                        <a href="" onclick="removeResponsiveNavbar()">
                            <li class="text-center">Login</li>
                        </a>
                        <a href="/adminlog" onclick="removeResponsiveNavbar()">
                            <li class="text-center">Admin</li>
                        </a>
                        <a onclick="removeResponsiveNavbar()">
                            <li class="text-center close-text">close</li>
                        </a>
                    </ul>
                </div>
                <div class="rvp-close" onclick="removeResponsiveNavbar()">
                    &#10005;
                </div>
            </div>
        </div>
    </nav>

    <div id="forms" class="container-fluid rvp-form-choose">
        <div id="login-form" class="container rvp-login-margin">
            <div class="row justify-content-center align-items-center rvp-login-form">
                <div class="col col-12 col-lg-6 rvp-form-box">
                    <h2>Log In</h2>
                    <form class="text-center" action="/adminlog" method="POST">
                        <input class="rvp-input" type="text" name="username" placeholder="Email">
						<input class="rvp-input" type="password" name="password" placeholder="Password">
                        <button class="rvp-submit">Login</button>
                        <button class="rvp-submit" type="button" onclick="closeLogin()">Back</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="signup-form" class="row justify-content-center align-items-center d-none d-md-flex rvp-form-outer">
            
            <div class="col col-12 col-md-5 text-center rvp-col-button">
                <button class="rvp-form-choice-buttons rvp-button-center" onclick="openLogin()">Log In</button>
            </div>
        </div>
        <div id="signup-mobile-form" class="row justify-content-center align-items-center d-md-none rvp-form-outer">
            <div class="col col-12 col-md-5 text-center rvp-col-button">
                <button class="rvp-form-choice-buttons" onclick="openLogin()">Log In</button>
            </div>
        </div>        
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/index.js"></script>
</body>

</HTML>


<h1>
	Admin Login
</h1>

<form action="/adminlog" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>Submit</button>
</form>


