/* ------------------------------------------------- Login Form ------------------------------------------ */

.rvp-login-form {
    height: 100vh;
    width: 100%;
}

#login-form {
    transition-duration: 0.5s;
    /* margin: 0; */
}

.rvp-form-box {
    border-style: solid;
    border-color: rgb(226, 226, 226);
    border-top-color: var(--green);
    border-width: 1px;
    border-radius: 5px;
    /* box-shadow: 0 0 40px 10px var(--green); */
}

.rvp-login-form {
    padding-left: 24px;
}

.rvp-login-form h2 {
    text-transform: uppercase;
    font-size: 2em;
    font-family: var(--font1);
    color: var(--green);
    margin: 16px;
}

.rvp-input {
    width: 100%;
    color: var(--grey);
    font-family: var(--font2);
    font-size: 1.3em;
    border-style: solid;
    border-radius: 50px;
    border-color: rgb(226, 226, 226);
    padding: 8px 16px;
    margin: 8px 0;
    margin-top: 16px;
}

.rvp-submit {
    border-style: none;
    border-radius: 50px;
    width: 8em;
    background-color: var(--green);
    color: var(--white);
    padding: 10px 0;
    font-size: 1.5em;
    padding: 8px 24px;
    margin: 24px auto;
    margin-top: 8px;
    text-transform: uppercase;
    font-family: var(--font4);
    letter-spacing: 0.1em;
}

@media(max-width: 768px) {
    .rvp-input {
        font-size: 1em;
        padding: 8px 16px;
        margin: 8px 0;
    }

    .rvp-submit {
        font-size: 1em;
        margin: 24px auto;
        margin-top: 16px;
        text-transform: uppercase;
        font-family: var(--font4);
        letter-spacing: 0.1em;
    }
}

/* ------------------------------------------------- Login Form ------------------------------------------ */


/* ------------------------------------------------- Login/Sign up page ------------------------------------------ */

.rvp-form-outer {
    min-height: 100vh;
    width: 100%;
    margin: 0 0;
    padding: 0 16px;
    background-color: var(--green);
}

.rvp-col-button {
    padding: 0 0;
}

.rvp-form-choice-buttons {
    border-style: none;
    border-radius: 50px;
    background-color: var(--grey);
    color: var(--white);
    padding: 10px 0;
    font-size: 1.5em;
    width: 15em;
    text-transform: uppercase;
    font-family: var(--font4);
    letter-spacing: 0.1em;
}

.rvp-button-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-style: solid;
    border-color: white;
}

.rvp-button-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* border-right-style: solid;
    border-color: white; */
}

@media (max-width: 768px) {
    .rvp-form-choice-buttons {
        margin: 8px 0;
        max-width: 100%;
    }
}

/* ------------------------------------------------- Login/Sign up page ------------------------------------------ */



/* ---------------------------------------------------- Sign up Form --------------------------------------------- */



/* ---------------------------------------------------- Sign up Form --------------------------------------------- */



/* ------------------------------------------------------- Common ------------------------------------------------ */

.rvp-form-choose {
    padding: 0 0;
    margin-top: -60px;
    height: 100vh;
    overflow: hidden;
}

.rvp-login-margin {
    margin-top: -100vh;
    transition-duration: 0.5s;
}

@media (max-width: 992px) {
    .rvp-form-choose {
        margin-top: -56px;
    }
}

/* ------------------------------------------------------- Common ------------------------------------------------ */