<h1>
	This is the secret page for admin!
</h1>

<p>
	You found me!
</p>

<img src="https://image.shutterstock.com/image-illustration/3d-word-safe-260nw-216357310.jpg">


<li><a href="/register">Sign Up!</a></li>
<li><a href="/adminlog">Admin Login!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>
